<h1>Available Tests</h1>
<ul>
    <li><a href="/">/</a> - This page</li>
    <li><a href="/Echo/">/Echo/</a> - Echos a body, statuscode, and any headers</li>
    <li><a href="/Get/">/Get/</a> - Provides a JSON object containg the headers, arguments, soure IP, and URL </li>
    <li><a href="/StatusCode/">/StatusCode/</a> - Response with the supplied status code</li>
    <li><a href="/Submission/">/Submission/</a> - Returns a JSON Submission </li>
    <li><a href="/Token/">/Token/</a> - Returns a JSON AccessToken </li>
    <li><a href="/Token/New/">/Token/New/</a> - Returns a JSON AccessToken with a new Access Token</li>
    <li><a href="/Token/Installed/">/Token/Installed/</a> - Returns a JSON AccessToken for an installed app</li>
    <li><a href="/User/">/User/</a> - Returns a JSON User</li>
</ul>
